.header {
	@include flex-mother(row, center, space-between);
	height: 7rem;
	&__logo {
		@include flex-mother();
	}
	&__links {
		@include flex-mother();
		.link {
			margin: 0 2rem;
			font-size: 1.5rem;
			color: var(--clr-primary-almost-black);
		}
	}
}
