.btn {
	@include flex-mother(row, center, space-between);
	border: none;
	background-color: transparent;
	font-family: inherit;
	cursor: pointer;
	&--hamburger {
		display: none;
		@include mediaQuery(map-get($breakpoints-map, '800')) {
			@include flex-mother();
			z-index: 10;
		}
	}
	.img {
		pointer-events: none;
		padding-left: 0.5rem;
	}
}
